<launch>
    <arg name="port"                default="/dev/input/LDS01"/>
    <arg name="frame_id"            default="laser"/>
    <arg name="use_static_tf"       default="true"/>

    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_segment_publisher" name="hlds_laser_segment_publisher" output="screen">
        <param name="port"          value="$(arg port)"/>
        <param name="frame_id"      value="$(arg frame_id)"/>
    </node>

    <node if="$(arg use_static_tf)" pkg="tf" type="static_transform_publisher" name="robot2senser" args="0.0 0.0 0.0 3.14 0 0 base_footprint $(arg frame_id)  1000" />
</launch>
